.messageRowLeft {
	display: flex;
	justify-content: flex-start;
	margin-top: 1.5rem;
}

.messageRowRight {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
}

.messageContainer {
	display: flex;
	flex-direction: column;
	max-width: 80%;
}

.message {
	background-color: var(--primary-color);
	border-radius: 1rem;
	padding: 1rem;
	margin: 0;
}

.from {
	color: grey;
	font-size: 0.8rem;
}

.messageRowLeft .from {
	margin: 0.2rem 0.5rem 0 auto;
}

.messageRowRight .from {
	margin: 0.2rem auto 0 0.5rem;
}
